{extend name="index/base" /}
{block name="main"}
    <div class="uk-container uk-container-expand">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">公告列表</h3>
            </div>
            <div class="uk-card-body">
                <ul uk-accordion>
                    {volist name="annos" id="anno"}
                        <li>
                            <a class="uk-accordion-title" href="#">{$anno.header}</a>
                            <div class="uk-accordion-content">
                                <p>{$anno.text}</p>
                            </div>
                        </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
{/block}