<!DOCTYPE html>
<html>
    <head>
        <title>{:config('mppdef.sitename');}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="__PUBLIC__/css/uikit.min.css" />
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script src="__PUBLIC__/js/uikit.min.js"></script>
        <script src="__PUBLIC__/js/uikit-icons.min.js"></script>
        <script src="__PUBLIC__/js/common.js"></script>
    </head>
    <body>
        <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
            <nav class="uk-navbar-container uk-container uk-container-expand uk-light" uk-navbar style="position: relative; z-index: 980; background: black">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="{:url('mpanel/index/index');}" style="color:white">{:config('mppdef.sitename');}</a>
                </div>
                <div class="uk-navbar-right">
                    <a class="uk-navbar-toggle uk-visible@m" style="color: white">当前用户：{$username}</a>
                    <a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon uk-toggle="target: #hidden_menu" href="#"></a>
                </div>
            </nav>
        </div>
        <div id="hidden_menu" uk-offcanvas="overlay: true; flip: true">
            <div class="uk-offcanvas-bar uk-flex uk-flex-column">
                <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                    <li><a>{$username}</a></li>
                    {if $invite == 0}
                        <li class="uk-nav-divider"></li>
                        <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">节点管理</a></li>
                        <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/announcement_manage');}">公告管理</a></li>
                        <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/user_list');}">用户列表</a></li>
                    {/if}
                    <li class="uk-nav-divider"></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">个人中心</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">节点列表</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">邀请管理</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">软件下载</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">问题反馈</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>登出</a></li>
                </ul>
            </div>
        </div>
        <div class="uk-margin"></div>
        <div class="uk-margin-remove-left" uk-grid>
            <div class="uk-card uk-card-body uk-width-small uk-visible@m">
                <ul class="uk-nav-default uk-nav-center" uk-nav>  
                    {if $invite == 0}
                        <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">节点管理</a></li>
                        <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/announcement_manage');}">公告管理</a></li>
                        <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/user_list');}">用户列表</a></li>
                        <li class="uk-nav-divider"></li>
                    {/if}
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">个人中心</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">节点列表</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">邀请管理</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">软件下载</a></li>
                    <li><a class="uk-button uk-button-text" href="{:url('mpanel/index/node_manage');}">问题反馈</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a class="uk-button uk-button-text" href="#"><span class="uk-margin-small-right" uk-icon="icon: sign-out"></span>登出</a></li>
                </ul>
            </div>
            <div class="uk-card uk-card-default uk-width-expand">
                {block name="main"}1{/block}
            </div>
        </div>
    </body>
	<script type="text/javascript">
        (function () {
            
        }());
	</script>
</html>