{extend name="index/base" /}
{block name="main"}
    <div class="uk-container uk-container-expand">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">公告</h3>
            </div>
            <div class="uk-card-body">
                <ul uk-accordion>
                    {volist name="annos" id="anno"}
                        <li>
                            <a class="uk-accordion-title" href="#">{$anno.header}</a>
                            <div class="uk-accordion-content">
                                <p>{$anno.text}</p>
                            </div>
                        </li>
                    {/volist}
                </ul>
            </div>
            <div class="uk-card-footer">
                <a href="{:url('mpanel/index/announcement_list');}" class="uk-button uk-button-text" >更多公告</a>
            </div>
        </div>
        <br />
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">流量</h3>
            </div>
            <div class="uk-card-body">
                <p>本月：{$user.ds}&nbsp;&nbsp;&nbsp;总流量:{$user.transfer_enables}</p>
                <progress class="uk-progress" value="{$user.d}" max="{$user.transfer_enable}"></progress>
            </div>
        </div>
        <br />
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">账号情况</h3>
            </div>
            <div class="uk-card-body">
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand" uk-leader>可用激活码数量</div>
                    <div>{$user.enable_code}</div>
                </div>
                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-expand" uk-leader>上次在线时间</div>
                    <div>{$user.pox_last_ol}</div>
                </div>
            </div>
        </div><br />
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">修改密码</h3>
            </div>
            <div class="uk-card-body">
                <p>邀请码是你修改密码时的唯一凭证，请确保你永远有办法获取自己的邀请码</p>
                <button class="uk-button uk-button-default" uk-toggle="target: #update_password" type="button">修改密码</button>
                <div id="update_password" class="uk-flex-top" uk-modal>
                        <div class="uk-modal-dialog  uk-margin-auto-vertical">
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                            <div class="uk-modal-header">
                                <h2 class="uk-modal-title">修改</h2>
                            </div>
                            <div class="uk-modal-body">
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" placeholder="邀请码" id="code">
                                </div>
                                <div class="uk-margin">
                                    <input class="uk-input" type="text" placeholder="新密码" id="pass">
                                </div>
                            </div>
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                <button class="uk-button uk-button-primary" type="button" id="update_pass">Save</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div><script>
            (function () {
                $('#update_pass').on('click', function() {
                    code = $('#code').val();
                    pass = $('#pass').val();
                    var request = $.ajax({
                      url: '{:url("mpanel/user/update_pass")}',
                      method: 'POST',
                      data: {code: code, pass: pass},
                      dataType: 'html'
                    });
                    
                    request.done(function(msg) {
                        if(msg == '"LOL"') {
                            UIkit.modal('#update_password').hide();
                            write_alert('修改成功');
                        } else {
                            write_alert(msg);
                        }
                    });
                     
                    request.fail(function(jqXHR, textStatus) {
                        write_alert('Request failed: ' + textStatus);
                    });
                });
            }());
        </script>
{/block}