{extend name="index/base" /}
{block name="main"}
    <style>
        .qrcode {
            width:180px;
            height:180px;
        } 
    </style>
    <div class="uk-container uk-container-expand">
        <div class="uk-card uk-card-default">
            
            <div class="uk-card-header">
                <h3 class="uk-card-title">节点列表</h3>
            </div>
            <div class="uk-card-body">
                <ul uk-accordion>
                    {volist name="nodes" id="node"}
                    <li>
                        <a class="uk-accordion-title" href="#">{$node->name}</a>
                        <div class="uk-accordion-content">
                            <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade connect: .switcher-container">
                                <li><a href="#">ShadowSocksR</a></li>
                                <li><a href="#">ShadowSocks</a></li>
                            </ul>
                            
                            <ul class="uk-switcher uk-margin switcher-container">
                                <li>
                                    <a class="uk-button uk-button-default" href='{$node.SSRlink}'>安装好软件的手机用户请点我</a>
                                    <a class="uk-link-muted" href='{:url('mpanel/index/download');}'>我需要软件</a>
                                </li>
                                <li>
                                    <a class="uk-button uk-button-default" href='{$node.SSlink}'>安装好软件的手机用户请点我</a>
                                    <a class="uk-link-muted" href='{:url('mpanel/index/download');}'>我需要软件</a>
                                </li>
                            </ul>

                            <p>电脑用户请<a class="uk-link-muted" href='{:url('mpanel/index/download');}'>下载软件</a>，启动后右键点击小飞机图标，选择扫描二维码。<a class="uk-link-muted" uk-toggle="target: #toggle-usage; animation: uk-animation-fade">扫描不成功？</a></p>
                            <p id="toggle-usage" hidden>请保下面的证二维码没有被遮挡，并保持二维码在屏幕中央，若仍然失败，请右键[安装好软件的手机用户请点我]的按钮，复制链接地址，右键小飞机图标，选择从剪切板导入</p>
                            <ul class="uk-switcher uk-margin switcher-container">
                                <li><div id="ssr{$node.id}" class="qrcode"></div></li>
                                <li><div id="ss{$node.id}" class="qrcode"></div></li>
                            </ul>
                        </div>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/qrcode.min.js"></script>
    <script>
        $(function() {
            {volist name="nodes" id="node"}
                new QRCode(document.getElementById("ssr{$node->id}"), "{$node->SSRlink}");
                new QRCode(document.getElementById("ss{$node->id}"), "{$node->SSlink}");
            {/volist}
        })
    </script>
{/block}