{extend name="index/base" /}
{block name="main"}
    <div class="uk-container uk-container-expand">
        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <h3 class="uk-card-title">用户编辑：#{$user.id}-{$user.name}</h3>
            </div>
            <div class="uk-card-body">
                <div class="uk-form-horizontal uk-margin-large">
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">连接端口</label><span class="uk-label uk-label-danger form_label" id="port_label"></span>
                        <input class="uk-input" type="text" name="port" id="port" value="{$user.port}">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">连接密码</label><span class="uk-label uk-label-danger form_label" id="passwd_label"></span>
                        <input class="uk-input" type="text" name="passwd" id="passwd" value="{$user.passwd}">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">加密方式</label><span class="uk-label uk-label-danger form_label" id="method_label"></span>
                        <input class="uk-input" type="text" name="method" id="method" value="{$user.method}">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">连接方式</label><span class="uk-label uk-label-danger form_label" id="protocol_label"></span>
                        <input class="uk-input" type="text" name="protocol" id="protocol" value="{$user.protocol}">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">连接参数</label><span class="uk-label uk-label-danger form_label" id="protocol_param_label"></span>
                        <input class="uk-input" type="text" name="protocol_param" id="protocol_param" value="{$user.protocol_param}">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">混淆方式</label><span class="uk-label uk-label-danger form_label" id="obfs_label"></span>
                        <input class="uk-input" type="text" name="obfs" id="obfs" value="{$user.obfs}">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">混淆参数</label><span class="uk-label uk-label-danger form_label" id="obfs_param_label"></span>
                        <input class="uk-input" type="text" name="obfs_param" id="obfs_param" value="{$user.obfs_param}">
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-horizontal-text">用户状态</label><span class="uk-label uk-label-danger form_label" id="enable_label"></span>
                        <div class="uk-form-controls uk-form-controls-text">
                            <label><input class="uk-radio" type="radio" value="1" name="enable" {eq name="user.enable" value="1"}checked="true"{/eq}>启用</label><br>
                            <label><input class="uk-radio" type="radio" value="0" name="enable" {eq name="user.enable" value="0"}checked="true"{/eq}>关闭</label>
                        </div>
                    </div>
                    <div class="uk-card-footer">
                        <div class="uk-flex uk-flex-right uk-flex-middle uk-grid-small" uk-grid>
                            <div>
                                <button class="uk-button uk-button-default" id="edit">修改</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            $('#edit').on('click', function() {
                var port = $('#port').val();
                var passwd = $('#passwd').val();
                var method = $('#method').val();
                var protocol = $('#protocol').val();
                var protocol_param = $('#protocol_param').val();
                var obfs = $('#obfs').val();
                var obfs_param = $('#obfs_param').val();
                var enable = $("input[name='enable']:checked").val();
                $(".form_label").html("");
                var request = $.ajax({
                url: '{:url("mpanel/user/back_update");}',
                method: 'POST',
                data: {id: {$user.id}, port: port, passwd: passwd, method: method, protocol: protocol, protocol_param: protocol_param, obfs: obfs, obfs_param: obfs_param, enable: enable},
                dataType: 'html'
                });
                
                request.done(function(msg) {
                    if(msg =='"LOL"') {
                        window.location.href="{:url('mpanel/index/user_manage');}"; 
                    } else {
                        msg = $.parseJSON(msg);
                        if(msg instanceof Array) {
                            msg.forEach(function(e) {
                                $("#" + e['key'] + "_label").html(e['error']);
                            });
                        } else {
                            write_alert('Request failed: '+ textStatus);
                        }
                    }
                });
                
                request.fail(function(jqXHR, textStatus) {
                    write_alert('Request failed: '+ textStatus);
                });
            });
        }());
    </script>
{/block}